<!--
  Generated template for the ModalSelectPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Fitrar por...</ion-title>
    <ion-buttons end>
      <button ion-button (click)="close()">
        Cerrar
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col col-9>
        <ion-grid>
          <ion-row>
            <ion-col class="container-paciente" (click)="selectPaciente(afiliado, 1)" col-12 style="padding-left: 17%;">
              <div>
                <div class="container-img-apply-quotes">
                    <img src="assets/img/persona.png" alt="" class="img-apply-quotes">
                </div>
              </div>
              <div>
                <div class="text-paciente-apply-quotes">
                  {{ afiliado?.nombres.toLowerCase() }}
                  {{ afiliado?.apellidos.toLowerCase() }}
                </div>
              </div>
          </ion-col>
          <ion-col *ngFor="let paciente of beneficiarios; let i = index" col-12 class="container-paciente" (click)="selectPaciente(paciente, 2)" style="padding-left: 17%;">
            <div>  
              <div class="container-img-apply-quotes">
                <img src="assets/img/persona.png" alt="" class="img-apply-quotes">
              </div>
            </div>
              <div>
                <div class="text-paciente-apply-quotes">
                    {{ paciente?.nombres.toLowerCase() }}
                    {{ paciente?.apellidos.toLowerCase() }}
                </div>
              </div>
          </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
