<ion-header>
  <ion-navbar>
    <ion-title style="width:100%; text-align:center;padding-right:21%;">Cancelar o reprogramar</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col offset-2 col-8 offset-2 class="ob-img-resumen">
        <img src="assets/img/default.png" >
        <p>Ruben</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <ion-title class="color-purple">Medicina general</ion-title>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-5>
        <ion-title class="color-purple">Doctor: </ion-title>
      </ion-col>
      <ion-col col-7>
        <ion-title class="color-gray">Carlos Alberto Granada</ion-title>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-5>
        <ion-title class="color-purple">Ubicación: </ion-title>
      </ion-col>
      <ion-col col-7>
        <ion-title class="color-gray">Metrored Guayaquil</ion-title>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-5>
        <ion-title class="color-purple">Día: </ion-title>
      </ion-col>
      <ion-col col-7>
        <ion-title class="color-gray">06 junio</ion-title>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-5>
        <ion-title class="color-purple">Hora: </ion-title>
      </ion-col>
      <ion-col col-7>
        <ion-title class="color-gray">16:35</ion-title>
      </ion-col>
    </ion-row>
    <ion-row>
        <ion-col col-6>
            <button ion-button block outline class="ob-reprogramar">Reprogramar</button>
        </ion-col>
        <ion-col col-6>
            <button ion-button block outline class="ob-cancelar">Cancelar</button>
        </ion-col>
    </ion-row>
  </ion-grid>
  <div #map id="map" class="ob-map">
  </div>
</ion-content>
<ion-footer class="ob-footer-citas">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col col-3>
          <button clear ion-button class="ob-button-tabs" (click)="goToHome()">
            <img src="assets/img/inicio.png" class="ob-img-tabs">
            <ion-title class="ob-text-tabs">Inicio</ion-title>
          </button>
        </ion-col>
        <ion-col col-3>
          <button clear ion-button class="ob-button-tabs">
            <img src="assets/img/calendario.png" class="ob-img-tabs">
            <ion-title class="ob-text-tabs">Citas <br> Médicas</ion-title>
          </button>
        </ion-col>
        <ion-col col-3>
          <button clear ion-button class="ob-button-tabs">
            <img src="assets/img/edificio.png" class="ob-img-tabs">
            <ion-title class="ob-text-tabs">Directorio <br> Médico</ion-title>
          </button>
        </ion-col>
        <ion-col col-3>
          <button clear ion-button class="ob-button-tabs">
            <img src="assets/img/doctor.png" class="ob-img-tabs">
            <ion-title class="ob-text-tabs">Mis Doctores <br> Favoritos</ion-title>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>