page-options-quotes{
    .scroll-content{
        overflow-y: scroll;
    }
    .ob-img-resumen{
        text-align: center;
    }
    .ob-img-resumen > p{
        margin-top: -3%;
        color: #8b999f;
    }
    .ob-notes{
        background-color: white;
        height: 132px;
    }
    .ob-reprogramar{
        border-color:#642593;
    }
    .ob-reprogramar > .button-inner{
        color: #642593;
    }
    .ob-map{
        height:70%;
        margin-left: 5%;
        margin-right: 5%;
    }
    .ob-cancelar{
        background-color: #642593;
        border-color: #642593;
    }
    .ob-cancelar > .button-inner{
        color: white;
    }
}