<ion-header>
    <ion-navbar>
      <ion-title class="color-blue">Doctor</ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
      <h4 *ngIf="visibleTitle">Actualemente no Hay Médicos Disponible</h4>
      <ion-grid *ngIf="visibleContent">
          <ion-row>
              <ion-col col-12 style="text-align: center;"><ion-title class="color-blue-title-ionic">Doctores</ion-title></ion-col>
              <ion-col *ngFor="let doctor of doctors" col-12>
                  <button clear ion-button class="ob-button-center color-blue-button-ionic" (click)="addDoctors(doctor)">
                      {{doctor?.NOMBRE_MEDICO}}
                  </button>
              </ion-col>
          </ion-row>
      </ion-grid>
  </ion-content>