<ion-header>
  <div class="logo">
      <img src="assets/img/logo-metrored-500-2.png" alt="" class="img-logo">
  </div>
  <ion-navbar class="navbar-home">
    <button ion-button menuToggle>
      <ion-icon name="menu" class="color-blue"></ion-icon>
    </button>
    <ion-title class="color-blue">
        <div class="cnt-title">
          <img src="assets/img/icono-p11-80.png" alt="" class="img-header"><span>Mis Citas</span>
        </div>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content style="text-align: center;" id="place1">
<div class="container-paciente" style="padding-top: 6%;">
    <div>
      <div class="container-img-apply-quotes">
          <img src="assets/img/persona.png" alt="" class="img-apply-quotes">
      </div>
    </div>
    <div>
      <div class="text-paciente-apply-quotes">
        {{navRequest?.nombres}} {{navRequest?.apellidos}}
      </div>
    </div>
  </div>
  <h3 *ngIf="registerQuote">Cita Exitosamente Agendada</h3>
  <ion-grid>
    <ion-row>
      <ion-col col-12 class="container-paciente" style="justify-content:center">
        <img src="assets/img/icono-p12-80.png" alt="" class="img-quote">
        <p class="color-blue">{{navRequest?.especialidad}}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col offset-3 col-9 text-left class="color-gray">
        <div>
          <p text-capitalize no-margin style="width: 70%; float: left;">Doctor: {{navRequest?.doctor.toLowerCase()}}</p>
          <rating [(ngModel)]="rate" readOnly="false" max="1" emptyStarIconName="star-outline"
            halfStarIconName="star-half"
            starIconName="star" 
            nullable="true"
            (ngModelChange)="onModelChange($event)" style="width: 30%;" *ngIf="navRequest?.doctor.toLowerCase()!='medico reemplazo'"></rating>
        </div>
        <p text-capitalize no-margin style="clear: left;">Ubicación: {{navRequest?.locacion.toLowerCase()}}</p>
        <p text-capitalize no-margin>Día: {{navRequest?.hora_turno.split(" ")[0]}}</p>
        <p text-capitalize no-margin>Hora: {{navRequest?.hora_turno.split(" ")[1]}}</p>
        <p *ngIf="!textareareschedule">Nota:  {{ navParams.data.datos.notas }}</p> 
      
      </ion-col>
    </ion-row>
    <ion-row *ngIf="visibleButtons">
      <ion-col col-6>
        <button ion-button block outline class="ob-reprogramar" (click)="rescheduleQuote()">Reprogramar Cita</button>
      </ion-col>
      <ion-col col-6>
        <button ion-button block outline class="ob-cancelar" (click)="cancelarCita(cancelarCita)">Cancelar Cita</button>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="visibleInfoTextArea && textareareschedule">
      <ion-col col-12 class="ob-center-text">
        <p no-margin>
          <img src="assets/img/icono-p13-80.png" alt="" style="height: 40px;">
        </p>
        <p no-margin class="color-blue">Recuerda estar 20 minutos</p>
        <p no-margin class="color-blue">antes de la cita</p>
    
      </ion-col>
    </ion-row>
    <ion-row *ngIf="visibleTextArea && textareareschedule" #note >
      <ion-col col-12 text-center>
        <p class="color-blue">Mis notas médicas:</p>
        <ion-textarea name="comment" placeholder="Notas medicas" (focus)="scroll()" class="ob-notes color-gray" [(ngModel)]="textArea"  #note></ion-textarea>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="visibleUploadButtons">
        <ion-col col-12>
           <img *ngFor="let image of images" src="{{image.url}}" style="width: 100%" (click)="OnModalImage(image)">
            <h3 [hidden]="lastImage !== null">Seleccione una imagen!</h3>
        </ion-col>
        <ion-col col-12>
          <ion-buttons>
            <button ion-button icon-left (click)="presentActionSheet()">
              <ion-icon name="camera"></ion-icon>
            </button>
            <button ion-button icon-left (click)="uploadImage()" [disabled]="lastImage === null">
              <ion-icon name="cloud-upload"></ion-icon>Upload
            </button> 
    </ion-buttons>
        </ion-col>
    </ion-row>
    <ion-row *ngIf="visibleButtonTextArea">
      <ion-col offset-2 col-8 offset-2>
        <button ion-button class="color-purple-button button-global" (click)="sendNote()">Enviar nota</button>
      </ion-col>
    </ion-row>
  </ion-grid>
    <ion-title class="ob-center-text color-purple" *ngIf="visibleTextArea" (click)="openMaps()">
        Como llegar
    </ion-title>
    <div #map id="map" class="ob-map" *ngIf="visibleMap">
    </div>
  <ion-grid>
    <ion-row *ngIf="visibleMap">
      <ion-col col-12>
       <button clear ion-button (click)="openMaps()" class="color-purple"> Abrir con mapas </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer class="ob-footer-citas"  [hidden]="!view" >
  <ion-toolbar>
    <ion-grid>
      <div class="btnflex">
        <button clear ion-button class="ob-button-tabs" (click)="goToHome()">
          <div class="img"><img src="assets/img/icono-home-80.png" class="ob-img-tabs"></div>
          <div class="ob-text-tabs color-blue">Inicio<br />&nbsp;</div>
        </button>
        <button clear ion-button class="ob-button-tabs" (click)="goToQuotes()">
          <div class="img"><img src="assets/img/icono-p3-80.png" class="ob-img-tabs"></div>
          <div class="ob-text-tabs color-blue">Citas <br> Médicas</div>
        </button>
        <button *ngIf="visibleDispensary" clear ion-button class="ob-button-tabs" (click)="gotoQuotesDispensary()">
          <div class="img"><img src="assets/img/icono-p27-80.png" class="ob-img-tabs"></div>
          <div class="ob-text-tabs color-blue">Dispensario<br>Empresas</div>
        </button>
        <button clear ion-button class="ob-button-tabs" (click)="goToSpecialite()">
          <div class="img"><img src="assets/img/icono-p2-80.png" class="ob-img-tabs"></div>
          <div class="ob-text-tabs color-blue">Directorio <br> Médico</div>
        </button>
        <button clear ion-button class="ob-button-tabs" (click)="goToFavorite()">
          <div class="img"><img src="assets/img/icono-p1-80.png" class="ob-img-tabs"></div>
          <div class="ob-text-tabs color-blue">Mis Doctores <br> Favoritos</div>
        </button>
      </div>
    </ion-grid>
  </ion-toolbar>
</ion-footer>

