page-quote{
    .scroll-content{
        overflow-y: scroll;
    }
    .ob-img-resumen{
        text-align: center;
    }
    .ob-img-resumen > p{
        margin-top: -3%;
        color: #8b999f;
    }
    .ob-notes{
        background-color: white;
        height: 132px;
    }
    .ob-reservar{
        border-color:#642593;
    }
    .ob-reservar > .button-inner{
        color: #642593;
    }
    .ob-map{
        height:70%;
        margin-left: 5%;
        margin-right: 5%;
    }
    .ob-reprogramar{
        border-color:#642593;
    }
    .ob-reprogramar > .button-inner{
        color: #642593;
    }
    .ob-cancelar{
        background-color: #642593;
        border-color: #642593;
    }
    .ob-cancelar > .button-inner{
        color: white;
    }
    .img-quote{
        margin-right: 3%;
        width: 16%;
    }

    ul {
    padding: 0px;

        &.rating li {
            padding: 5px 10px !important;
            background: none;
            color: #0180a5;

            ion-icon {
            font-size: 30px;
            }
        }
    }

}
@media (max-width:335px) {
    ion-app.md [padding], ion-app.md [padding] .scroll-content {
        padding: 16px 0px;
    }
    .button-md{
        padding: 0 0.2em
    }
    page-center .ob-button-center .button-inner img {
        width: 30px;
    }    
}  