<ion-header>
  <div class="logo">
      <img src="assets/img/logo-metrored-500-2.png" alt="" class="img-logo">
  </div>
  <ion-navbar class="navbar-home">
    <button ion-button menuToggle>
      <ion-icon name="menu" class="color-blue"></ion-icon>
    </button>
    <ion-title class="color-blue">
        <div class="cnt-title">
          <img src="assets/img/icono-p11-80.png" alt="" class="img-header"><span>Histórico Citas Dispensario</span>
        </div>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
      <ion-grid>
        <ion-row>
            <ion-col col-12 class="container-paciente" style="padding-left: 15%; cursor: pointer;" (click)="openModal(afiliado, beneficiarios)">
                <div>
                  <div class="container-img-apply-quotes">
                      <img src="assets/img/persona.png" alt="" class="img-apply-quotes">
                  </div>
                </div>
                <div>
                  <div class="text-paciente-apply-quotes">
                   {{nombre_filtro}}
                  </div>
                </div>
            </ion-col>
              <div text-center class="color-gray" style="width: 100%;">
                {{message_none}}
              </div>
            <ion-col *ngFor="let key of keys" col-12>
                <button clear ion-button class="ob-button-center"  *ngFor="let cita of response[key] | filterQuotesHistory:'key':paciente" (click)="goToDetails(cita, 3)">
                  <ion-grid class="ob-grid-medicos">
                    <ion-row>
                      <ion-col col-3>
                        <div class="ob-medico-settings">
                          <div class="container-info-quote">
                            <p class="color-blue">{{cita?.hora_turno.split(' ')[0].split('-')[2]}}</p>
                            <p class="color-gray">{{cita?.hora_turno.split(' ')[0].split('-')[1]}}</p>
                            <p class="color-blue">{{cita?.hora_turno.split(' ')[1].substring(0,5)}}</p>
                          </div>
                        </div>
                      </ion-col>
                      <ion-col col-8>
                        <div class="ob-detalles-medico">
                          <p>{{cita?.nombres}} {{cita?.apellidos}}</p>
                          <p class="color-purple">{{cita?.hora_turno}}</p>
                          <p>Año: <span class="color-purple">{{cita?.hora_turno.split(' ')[0].split('-')[0]}}</span></p>
                        </div>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
<ion-footer class="ob-footer-citas">
  <ion-toolbar>
    <ion-grid>
      <div class="btnflex">
        <button clear ion-button class="ob-button-tabs" (click)="goToHome()">
          <div class="img"><img src="assets/img/icono-home-80.png" class="ob-img-tabs"></div>
          <div class="ob-text-tabs color-blue">Inicio<br />&nbsp;</div>
        </button>
        <button clear ion-button class="ob-button-tabs" (click)="goToQuotes()">
          <div class="img"><img src="assets/img/icono-p3-80.png" class="ob-img-tabs"></div>
          <div class="ob-text-tabs color-blue">Citas <br> Médicas</div>
        </button>
        <button *ngIf="visibleDispensary" clear ion-button class="ob-button-tabs" (click)="gotoQuotesDispensary()">
          <div class="img"><img src="assets/img/icono-p27-80.png" class="ob-img-tabs"></div>
          <div class="ob-text-tabs color-blue">Dispensario<br>Empresas</div>
        </button>
        <button clear ion-button class="ob-button-tabs" (click)="goToSpecialite()">
          <div class="img"><img src="assets/img/icono-p2-80.png" class="ob-img-tabs"></div>
          <div class="ob-text-tabs color-blue">Directorio <br> Médico</div>
        </button>
        <button clear ion-button class="ob-button-tabs" (click)="goToFavorite()">
          <div class="img"><img src="assets/img/icono-p1-80.png" class="ob-img-tabs"></div>
          <div class="ob-text-tabs color-blue">Mis Doctores <br> Favoritos</div>
        </button>
      </div>
    </ion-grid>
  </ion-toolbar>
</ion-footer>