<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content padding>
  <div class="logo">
      <img src="assets/img/logo-metrored-500-2.png" alt="" class="img-logo">
  </div>
  <ion-title class="color-purple ob-title-login">Inicio sesión</ion-title>
  <ion-grid class="ob-grid-login">
    <ion-row>
      <ion-col col-12>
        <form [formGroup]="loginForm">
          <input type="email" placeholder="Email" class="ob-input-login ob-input-color-placeholder color-blue" formControlName="email" 
                                  [class.invalid]="!loginForm.controls.email.valid && (loginForm.controls.email.dirty || submitAttempt)">
          <input type="password" placeholder="Contraseña" class="ob-input-login ob-input-color-placeholder color-blue" formControlName="password"
                                  [class.invalid]="!loginForm.controls.password.valid && (loginForm.controls.password.dirty || submitAttempt)">
        </form>
      </ion-col>
      <ion-col col-12>
        <button ion-button class="color-purple-button ob-button-login button-global" (click)="goToHome($event)">Ingresar</button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <button (click)="goToResetPassword()" class="button-login-icono">
          <img src="assets/img/icono-candado-80.png" alt="">
          <p class="ob-reset-password">Olvidaste tu Contraseña?</p>
        </button>
      </ion-col>
      <ion-col col-12>
        <button class="button-login-icono" (click)="goToCreate()">
          <img src="assets/img/icono-persona-80.png" alt="">
          <p class="ob-reset-password" (click)="goToCreate()">No Tienes una Cuenta?</p>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
