page-login {
    .scroll-content{
        text-align: center;
        overflow: scroll;
    }
    .ob-title-login{
        padding-top: 10%;
    }
    .ob-title-login > div{
        color: #016089;
        font-size: 3.2rem;
        font-weight: 400;
    }
    .ob-grid-login{
        padding-top: 10%;
    }
    .ob-input-login{
        border: none;
        width: 100%;
        height: 44px;
        margin-bottom: 3%;
        padding: 5%;
    }
    .ob-button-login{
        width: 100%;
        height: 52px;
    }
    .ob-reset-password{
        color: #8b999f;
    }
    .ob-text-register{
        margin-top: 45%;
    }
    .button-login-icono{
        background-color: transparent;
    }
    .button-login-icono > img{
        width: 40%;
    }
    .logo{
        border-bottom: 0px;
        .img-logo{
            width: 70%;
        }
    }
}
