<ion-header>
  <ion-navbar>
    <ion-title class="color-blue">Doctores</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-grid>
        <ion-row>
            <ion-col col-12 style="text-align: center;"><ion-title class="color-blue-title-ionic">Doctores</ion-title></ion-col>
            <ion-col *ngFor="let medico of medicos | filter:'DESCRIPCION':q" col-12>
                <button clear ion-button class="ob-button-center color-blue-button-ionic" (click)="setDoctor(medico)">
                    {{medico?.ob_hm_nombre_medico}}
                </button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>