page-register {
    .scroll-content{
        text-align: center;
        overflow-y: scroll;
    }
    ion-select{
        background-color: white;
        max-width: 100%;
    }
    .ob-grid-reset{
        margin-top: 20%;
    }
    .ob-input-registered{
        border: 1px solid white;
        width: 100%;
        height: 44px;
        margin-bottom: 3%;
        padding: 5%;
    }
    .ob-button-registered{
        width: 100%;
        margin-top: 0;
    }
    .ob-separate{
        margin-top: 5%;
        height: 6px;
    }
    .ob-reset-password{
        color: #8b999f;
    }
    .ob-ms-err{
        display: flex;
        position: absolute;
        top: 78%;
        color: #ea6153;
        font-size: 80%;
        right: 5px;
        align-items: center;
    }
   
    .select-md .select-placeholder {
        color: #4f91ae;
        display: flex;
        padding-left: 10px;
    }
    .color-blue{
        .select-text{
            display: flex;
            padding-left: 10px;
        }
    }
    .ob-input-color-placeholder{
        margin-bottom: 17px;
    }
    .msj-min-car{
        position: relative;
        font-size: 80%;
        color: #424242;
        float: left;
        top: -12px;
    }
    .div-pass{
        .msg-flex{
            display: flex;
            flex-flow: column;
            div {
                .ob-ms-err {
                    position: relative;
                    top: -14px;
                    color: #ea6153;
                    font-size: 80%;
                    float: right;
                    right: 0;
       
                }
            }
            span{
                display: flex;
                justify-content: flex-end;
            }
        }
    }

}

