page-article {
    .scroll-content{
        overflow-y: scroll;
    }
    .img-encabezado-article{
        overflow: hidden;
        height: 190px;
    }
    .container-article{
        text-align: justify;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 7%;
    }
    .card-article{
        position: relative;
        text-align: center;
    }
    .card-title {
        top: 36%;
        font-size: 2.0em;
        width: 100%;
        font-weight: bold;
    }
}
