<!--
  Generated template for the ArticlePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar class="navbar-home">
    <button ion-button menuToggle>
      <ion-icon name="menu" class="color-blue"></ion-icon>
    </button>
    <ion-title class="color-blue" text-capitalize>{{article?.ob_hm_titulo.toLowerCase()}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <div class="img-encabezado-article">
    <img src="http://metroredapp.hmetro.med.ec/metroadmin/webroot/files/{{article.ob_hm_imagen}}" alt="">
  </div>
  <ion-card>
    <ion-card-content>
      <ion-card-title class="color-blue">{{article.ob_hm_titulo}}</ion-card-title>
      <div class="color-gray" [innerHTML]="article.ob_hm_texto"></div>
    </ion-card-content>
  </ion-card>
  <ion-card *ngFor="let doctor of doctors" (click)="moreInfo(doctor)" class="card-article">
      <img *ngIf="doctor?.ob_hm_imagen != ''" src="http://metroredapp.hmetro.med.ec/metroadmin/webroot/files/{{doctor?.ob_hm_imagen}}" alt="">
      <img *ngIf="doctor?.ob_hm_imagen == ''" src="assets/img/persona.png" alt="">
      <ion-card-title class="color-blue">{{doctor?.ob_hm_titulo_doctor}}</ion-card-title>
  </ion-card>
</ion-content>
<ion-footer class="ob-footer-citas">
  <ion-toolbar>
    <ion-grid>
      <div class="btnflex">
        <button clear ion-button class="ob-button-tabs" (click)="goToHome()">
          <div class="img"><img src="assets/img/icono-home-80.png" class="ob-img-tabs"></div>
          <div class="ob-text-tabs color-blue">Inicio<br>&nbsp;</div>
        </button>
        <button clear ion-button class="ob-button-tabs" (click)="goToQuotes()">
          <div class="img"><img src="assets/img/icono-p3-80.png" class="ob-img-tabs"></div>
          <div class="ob-text-tabs color-blue">Citas <br> Médicas</div>
        </button>
        <button *ngIf="visibleDispensary" clear ion-button class="ob-button-tabs" (click)="gotoQuotesDispensary()">
          <div class="img"><img src="assets/img/icono-p27-80.png" class="ob-img-tabs"></div>
          <div class="ob-text-tabs color-blue">Dispensario<br>Empresas</div>
        </button>
        <button clear ion-button class="ob-button-tabs" (click)="goToSpecialite()">
          <div class="img"><img src="assets/img/icono-p2-80.png" class="ob-img-tabs"></div>
          <div class="ob-text-tabs color-blue">Directorio <br> Médico</div>
        </button>
        <button clear ion-button class="ob-button-tabs" (click)="goToFavorite()">
          <div class="img"><img src="assets/img/icono-p1-80.png" class="ob-img-tabs"></div>
          <div class="ob-text-tabs color-blue">Mis Doctores <br> Favoritos</div>
        </button>
      </div>
    </ion-grid>
  </ion-toolbar>
</ion-footer>