<ion-tabs>
  <ion-tab [root]="tab0Root" tabTitle="Inicio" tabIcon="ctmhome"></ion-tab>
  <ion-tab [root]="tab1Root" tabTitle="Citas Médicas" tabIcon="ctmcitas"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Dispensario" tabIcon="ctmdispensario"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Directorio Médico" tabIcon="ctmdirectorio"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Mis Doctores Favoritos" tabIcon="favoritos"></ion-tab>
</ion-tabs>