@mixin grayscale_element($value) {
    -webkit-filter: #{"grayscale(#{$value})"};
    -moz-filter: #{"grayscale(#{$value})"};
    filter:#{"grayscale(#{$value})"};
}

@mixin scale_text($value){
	-webkit-transform: #{"scale3d(#{$value})"};
	-moz-transform: #{"scale3d(#{$value})"};
	transform:#{"scale3d(#{$value})"};
}

page-tabs {
	.tabs{
		.tab-button{
			.tab-button-icon{
				width: 30px;
				height: 30px;
				background-repeat: no-repeat;
				background-size: contain;
				background-position: center center;
			}
			.tab-button-text{
				font-size: 1.1rem;
				white-space: normal;
			}

			.ion-md-ctmhome, .ion-ios-ctmhome,.ion-ios-ctmhome-outline{
				background-image: url("/assets/img/icono-home-80.png");
				@include grayscale_element(100%);
			}
			.ion-md-ctmcitas, .ion-ios-ctmcitas, .ion-ios-ctmcitas-outline {
			    background-image: url("/assets/img/icono-p3-80.png");
			    @include grayscale_element(100%);
			}
			.ion-md-ctmdispensario, .ion-ios-ctmdispensario, .ion-ios-ctmdispensario-outline {
			    background-image: url("/assets/img/icono-p27-80.png");
			    @include grayscale_element(100%);
			}
			.ion-md-ctmdirectorio, .ion-ios-ctmdirectorio, .ion-ios-ctmdirectorio-outline {
			    background-image: url("/assets/img/icono-p2-80.png");
			    @include grayscale_element(100%);
			}
			.ion-md-favoritos, .ion-ios-favoritos, .ion-ios-favoritos-outline {
			    background-image: url("/assets/img/icono-p1-80.png");
			    @include grayscale_element(100%);
			}
			&[aria-selected=true]{
				.tab-button-text{
					color: #016089;
					@include scale_text("1,1,1");
				}
				.ion-md-ctmhome, .ion-ios-ctmhome, .ion-md-ctmcitas, .ion-ios-ctmcitas, .ion-md-ctmdispensario, .ion-ios-ctmdispensario, .ion-md-ctmdirectorio, .ion-ios-ctmdirectorio, .ion-md-favoritos, .ion-ios-favoritos{
				    @include grayscale_element(0%);
				}
			}
		}
	}
}