page-reschedule {
    .scroll-content{
        text-align: center;
        overflow-y: scroll
    }
    .ob-button-cita{
        width: 100%;
        background-color: #fff;
        color: black;
        height: 49px;
    }
    .ob-button-cita > span.button-inner {
        justify-content: flex-start;
        position: relative;
    }
    .ob-reservar{
        border-color:#642593;
    }
    .ob-reservar > .button-inner{
        color: #642593;
    }
    .ob-notes {
        background-color: white;
        height: 132px;
    }

    @media (max-width:767px) and (min-width:430px) {
        ion-fab[center] {
            left: 41%;
        }
        .button-global {
            width: 100%;
            font-weight: 300;
            padding-top: 4%;
            padding-bottom: 4%;
            height: auto;
            font-size: 1.6rem;
        }
    }
    @media  (max-width:429px) {
        ion-fab[center] {
            left: 39%;
        }
        .button-global {
            width: 100%;
            font-weight: 300;
            padding-top: 9%;
            padding-bottom: 9%;
            padding-left: 10%;
            padding-right: 10%;
            height: auto;
            font-size: 1.6rem;
        }
    }

}
