page-apply-quotes{
    .scroll-content{
        overflow-y: scroll;
    }
    .ob-paciente-center{
        text-align: center;
        position: fixed;
        right: -21px;
        top: 156px;
    }
    .ob-text-paciente > div{
        color: #8b999f;
        text-transform: capitalize;
    }
    .ob-button-add-paciente{
        border-radius: 100%;
        width: 60px;
        height: 60px;
        background-color: #008ecf;
        -webkit-box-shadow: 0px 5px 31px -7px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 5px 31px -7px rgba(0, 0, 0, 0.75);
        font-size: 33px;
        color: #fff;
        line-height: 30px;
    }
    .ob-footer-citas{
        border-top: 1px solid rgba(0, 0, 0, 0.06);
    }
}