page-favorite-doctors {
    .grid-reserva{
        margin-top: 10%;
    }
    .contenedor-reserva{
        background-color: white;
        padding-left: 2%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: left;
        align-items: center;
        padding-top: 1%;
        padding-bottom: 4%;
    }
    .img-reserva{
        width: 40px;
    }
    .container-text{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-left: -2%;
        width: 52%;
    }
    .container-text > span{
        width: 100%;
        text-align: center;
    }
    .container-text > span:ntd-child(1){
        font-size: 1.6rem;
    }
    .button-reserva{
        border: 1px solid;
    }
    .container-img{
        width: 15%;
    }
    .container-button{
        width: 33%;
    }
    .col-container-doctor.col{
        padding-bottom: 4% !important;
    }
}
