<!--
  Generated template for the FavoriteDoctorsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <div class="logo">
      <img src="assets/img/logo-metrored-500-2.png" alt="" class="img-logo">
  </div>
  <ion-navbar>
    <ion-title class="color-blue">
      <div class="cnt-title">
        <img src="assets/img/icono-p1-80.png" alt="" class="img-header"><span>Mis Doctores Favoritos</span>
      </div>
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-list>
    <ion-item *ngFor="let doctor of favoriteDoctors; let i = index">
      <ion-avatar item-start>
        <img src="assets/img/icono-p23-82.png">
      </ion-avatar>
      <h2 text-capitalize class="color-blue" text-capitalize>{{doctor?.nombre_doctor.toLowerCase()}}</h2>
      <h3 text-capitalize class="color-gray">{{doctor?.especialidad}}</h3>
      <button item-end clear ion-button class="button-reserva color-purple" (click)="registerReserve(doctor)">Agendar</button>
      <button item-end clear ion-button class="button-reserva color-purple" (click)="removeFavorite(doctor, i)">Quitar</button>
    </ion-item>
  </ion-list>
</ion-content>  
<ion-footer class="ob-footer-citas">
  <ion-toolbar>
    <ion-grid>

      <div class="btnflex">
        <button clear ion-button class="ob-button-tabs" (click)="goToHome()">
          <div class="img"><img src="assets/img/icono-home-80.png" class="ob-img-tabs"></div>
          <div class="ob-text-tabs color-blue">Inicio<br>&nbsp;</div>
        </button>
        <button clear ion-button class="ob-button-tabs" (click)="goToQuotes()">
          <div class="img"><img src="assets/img/icono-p3-80.png" class="ob-img-tabs"></div>
          <div class="ob-text-tabs color-blue">Citas <br> Médicas</div>
        </button>
        <button *ngIf="visibleDispensary" clear ion-button class="ob-button-tabs" (click)="gotoQuotesDispensary()">
          <div class="img"><img src="assets/img/icono-p27-80.png" class="ob-img-tabs"></div>
          <div class="ob-text-tabs color-blue">Dispensario<br>Empresas</div>
        </button>
        <button clear ion-button class="ob-button-tabs" (click)="goToSpecialite()">
          <div class="img"><img src="assets/img/icono-p2-80.png" class="ob-img-tabs"></div>
          <div class="ob-text-tabs color-blue">Directorio <br> Médico</div>
        </button>
      </div>
    </ion-grid>
  </ion-toolbar>
</ion-footer>