<!--
  Generated template for the ReserveQuotesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>

  <ion-toolbar>
    <ion-buttons start>
      <button ion-button icon-only (click)="backMenu()">
        <ion-icon name="arrow-back"></ion-icon> Atrás
      </button>
    </ion-buttons>
    <ion-title class="color-blue">
        <div class="cnt-title">
          <img src="assets/img/icono-p3-80.png" alt="" class="img-header"><span>Reservar cita</span>
        </div>
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>
  <h4 *ngIf="visibleNotQuotes">{{medicos}}</h4>
  <ion-grid *ngIf="visibleQuote">
      <ion-row>
        <ion-col *ngFor="let key of keys" col-12>
            <button clear ion-button class="ob-button-center" *ngFor="let medico of medicos[key] | filterDate:'key':date" (click)="setDoctor(medico)">
              <ion-grid class="ob-grid-medicos">
                <ion-row>
                  <ion-col col-3>
                    <div class="ob-medico-settings">
                      <div class="container-info-quote">
                        <p class="color-blue">{{medico?.medico.HT.split('-')[2]}}</p>
                        <p class="color-gray">{{medico?.medico.HT.split('-')[1]}}</p>
                        <p class="color-blue">{{medico?.turno.FECHA_HORA.split(' ')[1].substring(0,5)}}</p>
                      </div>
                    </div>
                  </ion-col>
                  <ion-col col-8>
                    <div class="ob-detalles-medico">
                      <p>{{medico?.medico.NOMBRE_MEDICO}}</p>
                      <p class="color-purple">{{medico?.medico.FM}}</p>
                      <p>Duración: <span class="color-purple">{{validateDuracion(medico?.medico.DURACION_TURNO)}}</span></p>
                    </div>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </button>
        </ion-col>
    </ion-row>
  </ion-grid>
  <div *ngIf="visiblePaciente">
    <p style="text-align: center; margin: 0;" class="color-gray">Selecciona el usuario que deseas <br> asignar citas</p>
    <ion-grid>
        <ion-row>
          <ion-col col-12>
            <ion-grid>
              <ion-row>
                <ion-col class="container-paciente" (click)="selectPaciente(afiliado, 1)" col-12 style="justify-content:center;">
                  <div>
                    <div class="container-img-apply-quotes">
                        <img src="assets/img/persona.png" alt="" class="img-apply-quotes">
                    </div>
                  </div>
                  <div>
                    <div class="text-paciente-apply-quotes">
                      {{ afiliado?.nombres.toLowerCase() }}
                      {{ afiliado?.apellidos.toLowerCase() }}
                    </div>
                  </div>
              </ion-col>
              <ion-col *ngFor="let paciente of beneficiarios; let i = index" col-12 class="container-paciente" (click)="selectPaciente(paciente, 2)" col-12 style="justify-content:center;">
                <div>  
                  <div class="container-img-apply-quotes">
                    <img src="assets/img/persona.png" alt="" class="img-apply-quotes">
                  </div>
                </div>
                  <div>
                    <div class="text-paciente-apply-quotes">
                        {{ paciente?.nombres.toLowerCase() }}
                        {{ paciente?.apellidos.toLowerCase() }}
                    </div>
                  </div>
              </ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
        </ion-row>
    </ion-grid>
  </div>
</ion-content>
<ion-footer class="ob-footer-citas">
    <ion-toolbar>
      <ion-grid>
  
        <div class="btnflex">
          <button clear ion-button class="ob-button-tabs" (click)="goToHome()">
            <div class="img"><img src="assets/img/icono-home-80.png" class="ob-img-tabs"></div>
            <div class="ob-text-tabs color-blue">Inicio<br>&nbsp;</div>
          </button>
          <button clear ion-button class="ob-button-tabs" (click)="goToQuotes()">
            <div class="img"><img src="assets/img/icono-p3-80.png" class="ob-img-tabs"></div>
            <div class="ob-text-tabs color-blue">Citas <br> Médicas</div>
          </button>
          <button *ngIf="visibleDispensary" clear ion-button class="ob-button-tabs" (click)="gotoQuotesDispensary()">
            <div class="img"><img src="assets/img/icono-p27-80.png" class="ob-img-tabs"></div>
            <div class="ob-text-tabs color-blue">Dispensario<br>Empresas</div>
          </button>
          <button clear ion-button class="ob-button-tabs" (click)="goToSpecialite()">
            <div class="img"><img src="assets/img/icono-p2-80.png" class="ob-img-tabs"></div>
            <div class="ob-text-tabs color-blue">Directorio <br> Médico</div>
          </button>
        </div>
      </ion-grid>
    </ion-toolbar>
  </ion-footer>