<!--
  Generated template for the MoreInfoDoctorPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <div class="logo">
      <img src="assets/img/logo-metrored-500-2.png" alt="" class="img-logo">
  </div>
  <ion-navbar>
    <ion-title class="color-blue" text-capitalize>{{title.toLowerCase()}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >

  <ion-card *ngFor="let doctor of doctors">

    <ion-item>
      <h4 text-capitalize>{{doctor?.ob_hm_titulo_doctor.toLowerCase()}}</h4>
      <button ion-button icon-end (click)="onModelChange(doctor)">
        {{(doctor?.seleccionado == false)?'Agregar como Favoritos' : 'Borrar de Favoritos'}}
        <ion-icon name="star"></ion-icon>
      </button>
      <!-- <rating item-end 
      readOnly="false" max="1" 
      emptyStarIconName="{{(doctor?.seleccionado == false)?'star-outline' : 'star'}}" 
      halfStarIconName="star-half"
      starIconName="star"
      nullable="true"
      (click)="onModelChange($event, doctor)" style="width: 30%;" *ngIf="navRequest?.doctor.toLowerCase()!='medico reemplazo'"></rating> -->
    </ion-item>
    <ion-card-content>
<!--       <ion-row>
        <ion-col>
          Nombre:
        </ion-col>
        <ion-col>
          {{doctor?.ob_hm_nombre_completo}}
        </ion-col>
      </ion-row> -->
      <ion-row>
        <ion-col>
          Universidad Pregrado:
        </ion-col>
        <ion-col>
          {{doctor?.ob_hm_pregrado}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          Universidad Posgrado:
        </ion-col>
        <ion-col>
          {{doctor?.ob_hm_posgrado}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          Especialidad:
        </ion-col>
        <ion-col>
          {{doctor?.ob_hm_especidadlidad}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col [innerHtml]="doctor?.ob_hm_atencion">
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer class="ob-footer-citas">
  <ion-toolbar>
    <ion-grid>
      <div class="btnflex">
        <button clear ion-button class="ob-button-tabs" (click)="goToHome()">
          <div class="img"><img src="assets/img/icono-home-80.png" class="ob-img-tabs"></div>
          <div class="ob-text-tabs color-blue">Inicio<br>&nbsp;</div>
        </button>
        <button clear ion-button class="ob-button-tabs" (click)="gotoQuotes()">
          <div class="img"><img src="assets/img/icono-p3-80.png" class="ob-img-tabs"></div>
          <div class="ob-text-tabs color-blue">Citas <br> Médicas</div>
        </button>
        <button *ngIf="visibleDispensary" clear ion-button class="ob-button-tabs" (click)="gotoQuotesDispensary()">
          <div class="img"><img src="assets/img/icono-p27-80.png" class="ob-img-tabs"></div>
          <div class="ob-text-tabs color-blue">Dispensario<br>Empresas</div>
        </button>
        <button clear ion-button class="ob-button-tabs" (click)="goToSpecialties()">
          <div class="img"><img src="assets/img/icono-p2-80.png" class="ob-img-tabs"></div>
          <div class="ob-text-tabs color-blue">Directorio <br> Médico</div>
        </button>
        <button clear ion-button class="ob-button-tabs" (click)="goToFavorite()">
          <div class="img"><img src="assets/img/icono-p1-80.png" class="ob-img-tabs"></div>
          <div class="ob-text-tabs color-blue">Mis Doctores <br> Favoritos</div>
        </button>
      </div>
    </ion-grid>
  </ion-toolbar>
</ion-footer>