<!--
  Generated template for the ModalImagePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>ModalImage</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <img src="{{pathForImage(lastImage)}}" style="width: 100%" [hidden]="lastImage === null" width="100" height="100">
    <button ion-button icon-left (click)="uploadImage()" [disabled]="lastImage === null">
        <ion-icon name="cloud-upload"></ion-icon>Upload
    </button>
    <button ion-button icon-left (click)="close()" [disabled]="lastImage === null">
        <ion-icon name="cloud-upload"></ion-icon>Cancelar
    </button>
</ion-content>
