page-home {
    .scroll-content{
        overflow-y: scroll;
    }
    .ob-grid-home{
        border-bottom: 1px solid #d0d1d5;
    }
    ion-slides{
        height:30%;
    }
    .article{
        cursor: pointer;
    }
    .navbar-home > div{
        background-color: white;
    }
    .img-article{
        max-height: 145px;
    }
    .title-article {
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: #0280a5;
        text-align: center;
    }
    .title-article p {
        margin: 0;
        color: white;
    }

    ion-card.card{
        width: 100%;
        margin: 0;
        .card-content{
            background-color: #0280a5;
            .card-title{
                color: #fff;
                font-size: 1.4rem;
                min-height: 50px;
            }
        }
    }
}
