<ion-header>
  <div class="logo">
      <img src="assets/img/logo-metrored-500-2.png" alt="" class="img-logo">
  </div>
  <ion-navbar class="navbar-home">
    <button ion-button menuToggle>
      <ion-icon name="menu" class="color-blue"></ion-icon>
    </button>
    <ion-title class="color-blue">Inicio</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <div *ngIf="visibleImage">
    <img *ngFor="let promotion of promotions" src="http://metroredapp.hmetro.med.ec/metroadmin/webroot/files/{{promotion.ob_hm_imagen}}" alt="" (click)="viewArticle(promotion)">
  </div>
  <div *ngIf="visibleSlider">
  <ion-slides autoplay="200" speed="2500" loop="true" pager="true" paginationType="bullets" >
      <ion-slide *ngFor="let promotion of promotions" (click)="viewArticle(promotion)">
        <img src="http://metroredapp.hmetro.med.ec/metroadmin/webroot/files/{{promotion.ob_hm_imagen}}">
      </ion-slide>
    </ion-slides>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col col-6 *ngFor="let post of posts" (click)="goToArticle(post)" class="article">
        <ion-card>
          <img src="http://metroredapp.hmetro.med.ec/metroadmin/webroot/files/{{post.ob_hm_imagen}}"/>
          <ion-card-content>
            <ion-card-title>{{post.ob_hm_titulo}}</ion-card-title>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer class="ob-footer-citas">
  <ion-toolbar>
    <ion-grid class="grid-footer">
      <div class="btnflex">
        <button clear ion-button class="ob-button-tabs" (click)="gotoQuotes()">
          <div class="img"><img src="assets/img/icono-p3-80.png" class="ob-img-tabs"></div>
          <div class="ob-text-tabs color-blue">Citas <br> Médicas</div>
        </button>
        <button *ngIf="visibleDispensary" clear ion-button class="ob-button-tabs" (click)="gotoQuotesDispensary()">
          <div class="img"><img src="assets/img/icono-p27-80.png" class="ob-img-tabs"></div>
          <div class="ob-text-tabs color-blue">Dispensario<br>Empresas</div>
        </button>
        <button clear ion-button class="ob-button-tabs" (click)="goToSpecialties()">
          <div class="img"><img src="assets/img/icono-p2-80.png" class="ob-img-tabs"></div>
          <div class="ob-text-tabs color-blue">Directorio <br> Médico</div>
        </button>
        <button clear ion-button class="ob-button-tabs" (click)="goToFavorite()">
          <div class="img"><img src="assets/img/icono-p1-80.png" class="ob-img-tabs"></div>
          <div class="ob-text-tabs color-blue">Mis Doctores <br> Favoritos</div>
        </button>
      </div>
    </ion-grid>
  </ion-toolbar>
</ion-footer>