page-quotes-dispensary{
    .scroll-content{
        text-align: center;
        overflow-y: scroll
    }
    .ob-button-cita{
        width: 100%;
        background-color: #fff;
        color: black;
        height: 49px;
    }
    .ob-button-cita > span.button-inner {
        justify-content: flex-start;
        position: relative;
    }
    .ob-reservar{
        border-color:#642593;
    }
    .ob-reservar > .button-inner{
        color: #642593;
    }
}