page-menu-quotes{
    .scroll-content{
        overflow-y: scroll;
    }
    .ob-menu-citas{
        background-color: #f1f5f6;
        color: #a1acb2;
    }
    .item-inner{
        border: none !important;
    }
    .ob-menu-citas > div > div > ion-label{
        display: inline-flex;
        justify-content: left;
        align-items: center;
        margin-left: 10%;
    }
    .ob-menu-citas > div > div > ion-label > div{
        padding-right: 7%;
        width: 30%;
    }
}