<ion-header>
  <div class="logo">
      <img src="assets/img/logo-metrored-500-2.png" alt="" class="img-logo">
  </div>
  <ion-navbar class="navbar-home">
    <button ion-button menuToggle>
      <ion-icon name="menu" class="color-blue"></ion-icon>
    </button>
    <ion-title class="color-blue">
        <div class="cnt-title">
          <img src="assets/img/icono-p3-80.png" alt="" class="img-header"><span>Citas Médicas</span>
        </div>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
      <button ion-item *ngFor="let p of pages" class="ob-menu-citas" (click)="goToPage(p)">
        <div>
          <img src="{{p.img}}" alt="">
        </div>
        <div class="color-blue">
          {{p.title}}
        </div>
      </button>
    </ion-list>
</ion-content>
<ion-footer class="ob-footer-citas">
  <ion-toolbar>
    <ion-grid>
      <div class="btnflex">
        <button clear ion-button class="ob-button-tabs" (click)="goToHome()">
          <div class="img"><img src="assets/img/icono-home-80.png" class="ob-img-tabs"></div>
          <div class="ob-text-tabs color-blue">Inicio<br />&nbsp;</div>
        </button>
        <button *ngIf="visibleDispensary" clear ion-button class="ob-button-tabs" (click)="gotoQuotesDispensary()">
          <div class="img"><img src="assets/img/icono-p27-80.png" class="ob-img-tabs"></div>
          <div class="ob-text-tabs color-blue">Dispensario<br>Empresas</div>
        </button>
        <button clear ion-button class="ob-button-tabs" (click)="goToSpecialties()">
          <div class="img"><img src="assets/img/icono-p2-80.png" class="ob-img-tabs"></div>
          <div class="ob-text-tabs color-blue">Directorio <br> Médico</div>
        </button>
        <button clear ion-button class="ob-button-tabs" (click)="goToFavorite()">
          <div class="img"><img src="assets/img/icono-p1-80.png" class="ob-img-tabs"></div>
          <div class="ob-text-tabs color-blue">Mis Doctores <br> Favoritos</div>
        </button>
      </div>
    </ion-grid>
  </ion-toolbar>
</ion-footer>