<!--
  Generated template for the ChangePasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar class="navbar-home">
    <button ion-button menuToggle>
      <ion-icon name="menu" class="color-blue"></ion-icon>
    </button>
    <ion-title class="color-blue">
      <div class="cnt-title">
        <img src="assets/img/icono-p22-82.png" alt="" class="img-header"><span>Actualizar Perfil</span>
      </div>
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-card>

    <ion-card-header class="color-blue">
      Actualizar Celular
    </ion-card-header>

    <ion-card-content>
      <form [formGroup]="cellForm" class="ob-grid-registered">
        <ion-grid>
          <ion-row>
            <ion-col col-12>
              <input type="text" placeholder="Número Celular" formControlName="phone" class="ob-input-registered ob-input-color-placeholder color-blue"
              [class.invalid]="cellForm.controls.phone.invalid && ((cellForm.controls.phone.dirty || cellForm.controls.phone.touched) || submitAttempt)">
              <div *ngIf="cellForm.controls.phone.invalid && ((cellForm.controls.phone.dirty || cellForm.controls.phone.touched) || submitAttempt)"
              class="ob-ms-err">
              <div *ngIf="cellForm.controls.phone.errors.required">El campo es obligatorio.</div>
              <div *ngIf="cellForm.controls.phone.errors.minlength">El celular debe tener al menos 7 caracteres de largo.</div>
              <div *ngIf="cellForm.controls.phone.errors.maxlength ">El celular debe tener máximo 15 caracteres.</div>
              <div *ngIf="cellForm.controls.phone.invalid && !cellForm.controls.phone.errors.required && !cellForm.controls.phone.errors.minlength  && !cellForm.controls.phone.errors.maxlength ">El celular no es valido.</div>
            </div>
            </ion-col>
            <ion-col col-12>
              <button ion-button class="color-purple-button ob-button-registered button-global" (click)="changeCell()">Cambiar celular</button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </ion-card-content>

  </ion-card>


  <ion-card>

    <ion-card-header class="color-blue">
      Cambiar Contraseña
    </ion-card-header>

    <ion-card-content>
      <form [formGroup]="changeForm" class="ob-grid-registered">
        <ion-grid>
          <ion-row>
            <ion-col col-12>
              <input type="password" placeholder="Nueva Contraseña" class="ob-input-registered ob-input-color-placeholder color-blue" formControlName="password"
                    [class.invalid]="!changeForm.controls.password.valid && (changeForm.controls.password.dirty || submitAttempt)">
            </ion-col>
            <ion-col col-12>
              <input type="password" placeholder="Confirmar contraseña" class="ob-input-registered ob-input-color-placeholder color-blue" formControlName="rpassword"
                    [class.invalid]="!changeForm.controls.rpassword.valid && (changeForm.controls.rpassword.dirty || submitAttempt)">
            </ion-col>
            <ion-col col-12>
              <button ion-button class="color-purple-button ob-button-registered button-global" (click)="changePassword()">Cambiar Contraseña</button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </ion-card-content>

  </ion-card>

</ion-content>
