page-change-password {
 .scroll-content{
        text-align: center;
        overflow-y: scroll;
    }
    ion-select{
        background-color: white;
        max-width: 100%;
    }
    .ob-grid-reset{
        margin-top: 20%;
    }
    .ob-input-registered{
        border: 1px solid white;
        width: 100%;
        height: 44px;
        margin-bottom: 3%;
        padding: 5%;
    }
    .ob-button-registered{
        width: 100%;
        margin-top: 0;
    }
    .ob-separate{
        margin-top: 5%;
        height: 6px;
    }
    .ob-reset-password{
        color: #8b999f;
    }
    .invalid {
        border: 1px solid #ea6153 !important;
    }
    .ob-ms-err {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        position: absolute;
        top: 78%;
        color: #ea6153;
        font-size: 80%;
        right: 5px;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }
}
