// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
ion-content{
    background-color:#f1f5f6 !important;
}
// .scroll-content{
//     overflow-y: hidden;
// }

.list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block {
    border-bottom: none;
}

.ob-title-toolbar{
    position: relative;
    float: right;
    margin: 0;
    padding-right: 40%;
    padding-top: 1%;
}
.wp .ob-title-toolbar{
    padding-right: 70%;
    padding-top: 1.5%;
}
.ob-menu{
    position: relative;
    float: right;
    color: gray;
}
.ob-button-menu{
    position: absolute;
}
.back-button{
    //position: initial;
}
.ob-title-header{
    width: 100%;
    text-align: center;
}
.ob-center-text{
    text-align: center;
}
.color-purple{
    color: #681a8f;
}
.color-white{
    color:white;
}
.color-purple > div{
    color: #681a8f;
}
.color-purple-button{
    background-color: #681a8f;
}
.color-gray{
    //color: #8b999f;
    color: #9d9f9e;
}
.backgroud-blue{
    background-color: #0180a5;
}
.color-blue{
    color: #016089;
    .toolbar-title{
        color: #016089;
        font-weight: normal;
    }
}
.invalid{
    border: 1px solid #ea6153 !important;
}
.ob-footer-citas > .toolbar.toolbar-md > .toolbar-background.toolbar-background-md{
    background-color: #f1f5f6 !important;
}
ion-footer{
    height: 100px;
}
.ob-button-tabs{
    height: 64px;
    padding-bottom: 10%;
}
.no-padding > .toolbar-title-md{
    padding: 0;
}
.logo{
    width: 100%;
    text-align: center;
    // background-color: #0280a5;
    border-bottom: 2px solid #0280a5;
    .img-logo{
        width: 30%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    &.transparent{
        background: transparent;
        .img-logo{
            width: 60%;
            margin-bottom: 0;
        }
    }
}
.button-global{
    width: 86%;
    font-weight: 300;
    padding-top: 4%;
    padding-bottom: 4%;
    height: auto;
    font-size: 1.6rem;
}
.ob-input-color-placeholder::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #016089;
    opacity: 0.7;
}
.ob-input-color-placeholder:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #016089;
    opacity: 0.7;
}
.ob-input-color-placeholder::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #016089;
    opacity: 0.7;
}
.ob-input-color-placeholder:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    #016089;
    opacity: 0.7;
}
.ob-input-color-placeholder::-ms-input-placeholder { /* Microsoft Edge */
    color:    #016089;
    opacity: 0.7;
}
.alert-radio-label{
    color: #016089 !important;
}
.alert-button-group > button{
    color: #016089 !important;
}
.color-blue-button-ionic span {
    justify-content:flex-start;
}
.color-blue-button-ionic > span{
    color: #016089;
}
.color-blue-title-ionic > div{
    color:  #016089;
}
.back-personalizado{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.back-personalizado img {
    width: 45px;
    height: auto;
    max-width: 71px;
    margin-left: -57px;
    margin-right: 5%;
}
.grid-footer{
    padding: 0;
}
.row-footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.p-header{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.img-header{
    height: 40px;
}
.container-paciente{
    display: inline-flex;
    justify-content: left;
    align-items: center;
}
.container-img-apply-quotes{
    overflow: hidden;
    border-radius: 100%;
    height: 90px;
    width: 90px;
    position: relative;
    border: 4px solid #008ecf;
    z-index: 2;
}
.img-apply-quotes{
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
}
.text-paciente-apply-quotes{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #008ecf;
    border-radius: 6px;
    color: white;
    text-transform: capitalize;
    margin-left: -10px;
    font-size: 1.3rem;
    text-align: center;
    height: 44px;
    width: 162px;
    padding-left: 10px;
    padding-right: 5px;
}
//menu//
.button-menu.item.item-block.item-md {
    background-color: #f1f5f6;
}
.list-menu.list-md .item-block .item-inner {
    border: none;
}
.list-menu ion-label.label.label-md {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    margin: 2px;
}
.list-menu .label.label-md img {
    width: 54px;
}
.list-menu.list-md {
    margin: 15px 0 16px;
}
.list-menu ion-icon.ob-menu.icon.icon-md.ion-ios-arrow-forward.item-icon {
    position: absolute;
    right: 10%;
    top: 50%;
    margin-top: -6px;
}
.list-menu .label.label-md > div{
    margin-left: 3%;
}
.col-back-menu{
    position: absolute;
}
.btn-back-menu{
    position: absolute;
    color: black;
    background-color: transparent;
    box-shadow: transparent;
    cursor: pointer;
    z-index: 99;
}
.toolbar-menu > .toolbar-content.toolbar-content-md{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
}

.btnflex {
    display: flex;
    .ob-button-tabs {
        height: 70px;
        flex-grow: 1;
        padding: 1px;
        align-self: flex-start;
        .button-inner {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            .ob-text-tabs.color-blue {
                font-size: 1.1rem;
                line-height: 0.95em;
                text-transform: initial;
            }
            img.ob-img-tabs {
                height: 42px;
            }
        }
    }
}

.cnt-title {
    display: flex;
    align-items: center;
    img.img-header {
        height: 31px;
        margin-right: 5px;
    }
}
.toast-message{
    background-color: #651495;
    color: #fff
}