<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar class="toolbar-menu">
      <ion-title class="color-blue-title-ionic">Menú Principal</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list class="list-menu">
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)" class="button-menu">
        <ion-avatar item-start><img src="{{p.img}}"></ion-avatar><h2>{{p.title}}</h2>
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>