<ion-header>
  <div class="logo">
      <img src="assets/img/logo-metrored-500-2.png" alt="" class="img-logo">
  </div>
  <ion-navbar class="navbar-home">
    <button ion-button menuToggle>
      <ion-icon name="menu" class="color-blue"></ion-icon>
    </button>
    <ion-title class="color-blue">
        <div class="cnt-title">
          <img src="assets/img/icono-p3-80.png" alt="" class="img-header"><span>Reprogramar Cita</span>
        </div>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="container-paciente" style="padding-top: 6%;">
    <div>
      <div class="container-img-apply-quotes">
          <img src="assets/img/persona.png" alt="" class="img-apply-quotes">
      </div>
    </div>
    <div>
      <div class="text-paciente-apply-quotes">
        {{navRequest?.nombres}} {{navRequest?.apellidos}}
      </div>
    </div>
  </div>
      <ion-grid>
          <ion-row>
              <ion-col col-12>
                <button clear ion-button icon-end class="ob-button-cita color-blue-button-ionic" (click)="goToDispensary()">
                  {{cita.descripcion_especialidad}}
                  <ion-icon name="ios-arrow-down"></ion-icon>
                </button>
              </ion-col>
              <ion-col col-12>
                <button clear ion-button icon-end class="ob-button-cita color-blue-button-ionic" (click)="goToDoctor()" [disabled]="!cita.disabled_centro">
                  {{cita.descripcion_centro}}
                  <ion-icon name="ios-arrow-down"></ion-icon>
                </button>
              </ion-col>
              <ion-col col-12>
                <button clear ion-button icon-end class="ob-button-cita color-blue-button-ionic" (click)="goToQuoteDoctor()" [disabled]="!cita.disabled_doctor">
                  {{cita.nombre_doctor}}
                  <ion-icon name="ios-arrow-down"></ion-icon>
                </button>
              </ion-col>
              <ion-col offset-2 col-8 offset-2>
                <button ion-button class="button-global color-purple-button" (click)="goToQuote()" [disabled]="!cita.disabled_reserva">Reservar</button>
              </ion-col>
            </ion-row>
      </ion-grid>
      <!-- <pre>
        {{cita | json}}
      </pre> -->
</ion-content>
<ion-footer class="ob-footer-citas">
  <ion-toolbar>
    <div class="btnflex">
      <button clear ion-button class="ob-button-tabs" (click)="goToHome()">
        <div class="img"><img src="assets/img/icono-home-80.png" class="ob-img-tabs"></div>
        <div class="ob-text-tabs color-blue">Inicio<br />&nbsp;</div>
      </button>
      <button clear ion-button class="ob-button-tabs" (click)="goToQuotes()">
        <div class="img"><img src="assets/img/icono-p3-80.png" class="ob-img-tabs"></div>
        <div class="ob-text-tabs color-blue">Citas <br> Médicas</div>
      </button>
      <button *ngIf="visibleDispensary" clear ion-button class="ob-button-tabs" (click)="gotoQuotesDispensary()">
        <div class="img"><img src="assets/img/icono-p27-80.png" class="ob-img-tabs"></div>
        <div class="ob-text-tabs color-blue">Dispensario<br>Empresas</div>
      </button>
      <button clear ion-button class="ob-button-tabs" (click)="goToSpecialite()">
        <div class="img"><img src="assets/img/icono-p2-80.png" class="ob-img-tabs"></div>
        <div class="ob-text-tabs color-blue">Directorio <br> Médico</div>
      </button>
      <button clear ion-button class="ob-button-tabs" (click)="goToFavorite()">
        <div class="img"><img src="assets/img/icono-p1-80.png" class="ob-img-tabs"></div>
        <div class="ob-text-tabs color-blue">Mis Doctores <br> Favoritos</div>
      </button>
    </div>
  </ion-toolbar>
</ion-footer>