page-center{
    .scroll-content{
        overflow-y: scroll;
    }
    .ob-button-center{
        width: 100%;
        background-color: white;
        color: #8b999f;
        height: 55px;
    }
    .ob-button-center span.button-inner {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: left !important;
        align-items: center;
    }
    .ob-button-center .button-inner img {
        width: 50px;
    }
    .ob-button-center .button-inner span:nth-child(2) {
        font-size: 1.4rem;
        text-transform: capitalize;
        font-weight: 300;
        margin-left: 1%;
    }
}
.distance{
    font-size: 5px;
}