<ion-header>
  <ion-navbar class="navbar-home">
    <button ion-button menuToggle>
      <ion-icon name="menu" class="color-blue"></ion-icon>
    </button>
    <ion-title class="color-blue">
        <div class="cnt-title">
          <img src="assets/img/icono-p25-82.png" alt="" class="img-header"><span>Centros Médicos</span>
        </div>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-grid>
        <ion-row>
            <ion-col col-12>
                <ion-list>
                  <ion-item>
                    <ion-label class="ob-center-label color-purple">Buscar por más Cercanos</ion-label>
                    <ion-toggle item-end [(ngModel)]="searchCountry" [disabled]="selected" (ionChange)="reorder()"></ion-toggle>
                  </ion-item>
                </ion-list>
            </ion-col>
            <ion-col *ngFor="let centro of centers2 | sort:['distance']" col-12>
                <button clear ion-button class="ob-button-center color-blue-button-ionic" (click)="addCentro(centro)">
                    <span><img src="assets/img/icono-p24-82.png" alt=""></span>
                    <span>{{centro?.DESCRIPCION.toLowerCase()}}</span>

                </button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>