page-quotes-settings{

    .scroll-content{
        text-align: center;
        overflow-y: scroll
    }
    .ob-button-cita{
        width: 100%;
        background-color: #fff;
        color: black;
        height: 49px;
    }
    .ob-button-cita > span.button-inner {
        justify-content: flex-start;
        position: relative;
    }
    .ob-reservar{
        border-color:#642593;
    }
    .ob-reservar > .button-inner{
        color: #642593;
    }
    @media (max-width:767px) and (min-width:335px) {
        .color-purple-button, .button-global{
            position: fixed;
            bottom: 15vh;
            left: 20vw;
            max-width: 60vw;
      
            opacity: 1 !important;
            
        }
        .grid{
            padding-bottom: 10vh !important;
        } 
    }  
    @media (max-width:335px) {
        .color-purple-button, .button-global{
            position: fixed;
            bottom: 18vh !important;
            left: 15vw;
            max-width: 70vw;
            min-height: 8vh;
            opacity: 1 !important;
            
        } 
        .grid{
            padding-bottom: 10vh !important;
        } 
    }  
}

