<!--
  Generated template for the ModalImageQuotePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>ModalImageQuote</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <img src="{{navRequest.image.url}}" alt="">
  <button ion-button icon-left (click)="close()" [disabled]="lastImage === null">
      <ion-icon name="cloud-upload"></ion-icon>Cancelar
  </button>
</ion-content>
