<!--
  Generated template for the ResetPasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <div class="back-personalizado">
      <img src="assets/img/icono-candado-80.png" alt="">
      <p class="color-blue">
        Recuperar contraseña
      </p>
    </div>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="resetForm" class="ob-grid-reset">
    <ion-grid>
      <ion-row>
        <ion-col col-12>
          <ion-item>
            <ion-label>Tipo de documento</ion-label>
            <ion-select formControlName="type_document" cancelText="Cancelar" okText="Guardar" 
                        [class.invalid]="!resetForm.controls.type_document.valid && (resetForm.controls.type_document.dirty || submitAttempt)" class="ob-input-color-placeholder color-blue">
              <ion-option value="1">Cedula</ion-option>
              <ion-option value="2">Tarjeta identidad</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col col-12>
          <input type="text" placeholder="Num. Identificación" formControlName="identification"
                [class.invalid]="!resetForm.controls.identification.valid && (resetForm.controls.identification.dirty || submitAttempt)" class="ob-input-reset ob-input-color-placeholder color-blue">
          <input type="text" placeholder="Email" formControlName="email"
                [class.invalid]="!resetForm.controls.email.valid && (resetForm.controls.email.dirty || submitAttempt)" class="ob-input-reset ob-input-color-placeholder color-blue">
        </ion-col>
        <ion-col col-12>
          <button ion-button class="color-purple-button ob-button-reset button-global" (click)="goToLogin()">Enviar</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
  <div class="info-reset">
    <p class="ob-separate color-gray">Su nueva contraseña será enviada al correo</p>
    <p class="color-gray">que utilizó al crear la cuenta.</p>
  </div>
  <button class="button-login-icono" (click)="goToCreate()">
    <img src="assets/img/icono-persona-80.png" alt="" class="img-registered-reset">
    <p class="ob-reset-password" (click)="goToCreate()">No tiene una cuenta?</p>
  </button>
</ion-content>
