page-reset-password {
    .scroll-content{
        text-align: center;
    }
    ion-select{
        background-color: white;
        max-width: 100%;
    }
    .ob-grid-reset{
        margin-top: 7%;
    }
    .ob-input-reset{
        border: 1px solid white;
        width: 100%;
        height: 44px;
        margin-bottom: 3%;
        padding: 5%;
    }
    .ob-button-reset{
        width: 100%;
        margin-top: 10%;
    }
    .ob-separate{
        margin-top: 5%;
        height: 6px;
    }
    .ob-text-reset{
        margin-top: 28%;
    }
    .ob-reset-password{
        color: #8b999f;
    }
    .button-login-icono{
        background-color: transparent;
    }
    .img-registered-reset{
        width: 34%;
        padding-top: 43%;
    }
    .info-reset{
        margin-top: 16%;
    }
}
