<ion-header>
  <ion-navbar>
    <ion-title class="color-blue">Especialidad</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-grid>
        <ion-row>
            <ion-col col-12>
                <ion-label class="ob-center-label color-purple">Buscar especialidad</ion-label>
                <input type="text" placeholder="Buscar por especialidad..." class="ob-input-registered ob-input-color-placeholder color-blue" [(ngModel)]="q">
            </ion-col>
            <ion-col col-12 style="text-align: center;"><ion-title class="color-blue-title-ionic">Especialidades</ion-title></ion-col>
            <ion-col *ngFor="let especialidad of especialidades | filter:'DESCRIPCION':q" col-12>
                <button clear ion-button class="ob-button-center color-blue-button-ionic" (click)="addEspecialidad(especialidad)">
                    {{especialidad?.DESCRIPCION}}
                </button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>