<ion-header>
  <div class="logo">
      <img src="assets/img/logo-metrored-500-2.png" alt="" class="img-logo">
  </div>
  <ion-navbar class="navbar-home">
    <button ion-button menuToggle>
      <ion-icon name="menu" class="color-blue"></ion-icon>
    </button>
    <ion-title class="color-blue">
        <div class="cnt-title">
          <img src="assets/img/icono-p3-80.png" alt="" class="img-header"><span>Dependientes</span>
        </div>
    </ion-title>

    <ion-buttons end>
        <button ion-button (click)="addBeneficiario()">
          Agregar
        </button>
      </ion-buttons>

  </ion-navbar>
</ion-header>


<ion-content>

  <p style="text-align: center; margin: 0;padding-top: 30px;" class="color-gray">Dependientes Activos</p>
    <ion-grid>
        <ion-row>
          <ion-col col-12>
            <ion-grid>
              <ion-row>
                <!-- <ion-col class="container-paciente" col-12>
                  <div>
                    <div class="container-img-apply-quotes">
                        <img src="assets/img/persona.png" alt="" class="img-apply-quotes">
                    </div>
                  </div>
                  <div>
                    <div class="text-paciente-apply-quotes">
                      {{ afiliado?.nombres.toLowerCase() }}
                      {{ afiliado?.apellidos.toLowerCase() }}
                    </div>
                  </div>
              </ion-col> -->
              <ion-col *ngFor="let paciente of beneficiarios; let i = index" col-12 class="container-paciente">
                <div>  
                  <div class="container-img-apply-quotes">
                    <img src="assets/img/persona.png" alt="" class="img-apply-quotes">
                  </div>
                </div>
                  <div>
                    <div class="text-paciente-apply-quotes">
                        {{ paciente?.nombres.toLowerCase() }}
                        {{ paciente?.apellidos.toLowerCase() }}
                    </div>
                  </div>
                  <button item-end clear ion-button class="button-reserva color-purple" (click)="removeBeneficiary(paciente, i)">Quitar</button>
              </ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
          <!-- <ion-col col-3>
             <ion-col col-6 class="ob-paciente-center">
                <button class="ob-button-add-paciente" (click)="addBeneficiario()" style="margin-top: 100%;">
                   <ion-icon name="person-add"></ion-icon>
                </button>
            </ion-col>
          </ion-col> -->
        </ion-row>
    </ion-grid>
</ion-content>
<ion-footer class="ob-footer-citas">
  <ion-toolbar>
    <ion-grid>
      <div class="btnflex">
        <button clear ion-button class="ob-button-tabs" (click)="goToHome()">
          <div class="img"><img src="assets/img/icono-home-80.png" class="ob-img-tabs"></div>
          <div class="ob-text-tabs color-blue">Inicio<br />&nbsp;</div>
        </button>
        <button clear ion-button class="ob-button-tabs" (click)="goToQuotes()">
          <div class="img"><img src="assets/img/icono-p3-80.png" class="ob-img-tabs"></div>
          <div class="ob-text-tabs color-blue">Citas <br> Médicas</div>
        </button>
        <button *ngIf="visibleDispensary" clear ion-button class="ob-button-tabs" (click)="gotoQuotesDispensary()">
          <div class="img"><img src="assets/img/icono-p27-80.png" class="ob-img-tabs"></div>
          <div class="ob-text-tabs color-blue">Dispensario<br>Empresas</div>
        </button>
        <button clear ion-button class="ob-button-tabs" (click)="goToSpecialite()">
          <div class="img"><img src="assets/img/icono-p2-80.png" class="ob-img-tabs"></div>
          <div class="ob-text-tabs color-blue">Directorio <br> Médico</div>
        </button>
        <button clear ion-button class="ob-button-tabs" (click)="goToFavorite()">
          <div class="img"><img src="assets/img/icono-p1-80.png" class="ob-img-tabs"></div>
          <div class="ob-text-tabs color-blue">Mis Doctores <br> Favoritos</div>
        </button>
      </div>
    </ion-grid>
  </ion-toolbar>
</ion-footer>