page-tour {
    .ob-title-tour > div{
        font-size: 4rem;
        margin-bottom: 3%;
    }
    ion-slides{
        background-color: #f1f5f6;
        margin-left: 7%;
        width: 88%;
        padding-left: 10%;
        padding-right: 10%;
        height: 50%;
    }
    ion-slide{
        width: 295px;
    }
    .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets{
        bottom :-3px;
    }
    .swiper-pagination-bullet-active{
        background-color: #8b999f;
    }
    .ob-separate{
        height: 3%;
    }
    .ob-text-tour{
        background-color: white;
        padding-top: 3%;
        text-align: center;
        padding-bottom: 15%;
    }
    .ob-text-tour  p {
        -webkit-margin-before: 0;
        -webkit-margin-after: 0;
    }
    .ob-button-tour{
        margin-top: 5%;
    }
    .large{
        font-size: 1.4rem;
        color: #9aa6ab;
    }
    #custom-overlay {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 100000;
        width:100%;
        background-color: #002a3e;
    }

    .flb {
        background-color: #fff;
        height:100%;
        width:100%;
        animation: pulse 1s linear forwards;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .Aligner-item {
        max-width: 100%;
    }
    .Aligner-item--top {
        align-self: flex-start;
    }
    .Aligner-item--bottom {
        align-self: flex-end;
    }
    #custom-overlay img {
        display: block;
        margin: 0 auto;
        width: 100%;
        height: auto;
        animation: animation 3100ms linear infinite both;
        animation-delay: 1s;
    }
    @keyframes pulse {
        0% {
            opacity:0;
        }
        100% {
            opacity:1;
        }
    }
}
