<!--
  Generated template for the TourPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<div id="custom-overlay" [style.display]="splash ? 'flex': 'none'">
  <div class="flb">
    <div class="Aligner-item Aligner-item--top"></div>
    <img src="assets/img/medicos.jpg">
  </div>
</div>
<ion-content>
    <div class="logo transparent">
      <img src="assets/img/logo-metrored-500-2.png" alt="" class="img-logo">
    </div>
  <ion-slides autoplay="0" speed="1000" loop="true" pager="true" paginationType="bullets" (ionSlideDidChange)="slideChanged()">
    <ion-slide *ngFor="let slider of sliderData">
      <img src="{{slider.img}}">
    </ion-slide>
  </ion-slides>
  <div class="ob-separate"></div>
  <div class="ob-text-tour">
    <div class="large" [innerHTML]="messageSlider"></div>
    <button ion-button class="ob-button-tour color-purple-button button-global" (click)="goToLogin($event)">EMPEZAR</button>
  </div>
</ion-content>
