page-search-quotes-dispensary{
    .scroll-content{
        //text-align: center;
        overflow-y: scroll;
    }
    ion-select{
        background-color: white;
        max-width: 100%;
    }
    ion-select > .select-text{
        text-align: left;
    }
    .ob-center-label{
        float: left;
        width: 70%;
    }
    .ob-button-center{
        width: 100%;
        background-color: white;
        color: #8b999f;
        height: 9rem;
        padding: 0
    }
    .ob-button-doctor{
        width: 90%;
        background-color: white;
        color: #909da3;
        text-transform:none;
        padding: 0;
        height: 50px;
    }
    .ob-button-doctor > .button-inner{
        padding-left: 5%;
    }
    .datetime-text{
        background-color: white;
    }
    .ob-medico-settings{
        width: 100%;
        background-image: url(../assets/img/icono-p9-80.png);
        background-size: 72px;
        height: 100%;
        background-repeat: no-repeat;
    }
    .container-info-quote{
        padding-top: 10px;
        width: 60px;
    }
    .ob-medico-settings > div > p{
        line-height: 0;
        font-size: 1.7rem;
    }
    .ob-medico-settings > div > p:nth-child(3){
        float: left;
        padding-left: 21%;
        font-size: 1.3rem;
        margin: 0;
        padding-top: 3%;
    }
    .ob-grid-medicos{
        margin-left: 0px;
        margin-right: 0px;
        width: 100%;
        height: 100%;
        padding: 0;
    }
    .ob-detalles-medico{
        display: table-cell;
        vertical-align: middle;
        height: 80px;
        padding-left: 10px;
        //margin-top: -4px;
    }
    .ob-detalles-medico p{
        text-align: left;
        line-height: 0.7;
    }
    .ob-datetime{
        text-align: center;
    }
}