<ion-header>
  <ion-navbar>
    <ion-title class="color-blue">Dispensario</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-grid>
        <ion-row>
            <ion-col col-12 style="text-align: center;"><ion-title class="color-blue-title-ionic">Dispensarios</ion-title></ion-col>
            <ion-col *ngFor="let especialidad of especialidades | filter:'DESCRIPCION':q" col-12>
                <button clear ion-button class="ob-button-center color-blue-button-ionic" (click)="addEspecialidad(especialidad)">
                    {{especialidad?.ob_hm_dispensario}}<br>
                    {{especialidad?.ob_hm_nombre}}
                </button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>