page-settings-dispensary{
    .scroll-content{
        overflow-y: scroll;
    }
    ion-toggle{
        width: 49px !important;
        height: 21px !important;
        position: absolute;
    }
    .ob-center-label{
        float: left;
        width: 70%;
    }
    .toggle-icon{
        border-radius: 7px !important;
    }
    .toggle-md.toggle-checked .toggle-icon{
        background-color: #642593;
    }
    .toggle-inner{
        top: 0 !important;
    }
    .toggle-md.toggle-checked .toggle-inner{
        transform: translate3d(29px, 0, 0);
        background-color: white;
    }
    .ob-button-center{
        width: 100%;
        background-color: white;
        color: #8b999f;
    }
    .ob-input-registered{
        border: 1px solid white;
        width: 100%;
        height: 44px;
        margin-bottom: 3%;
        padding: 5%;
    }
    .ob-button-registered{
        width: 100%;
        margin-top: 0;
    }
}