<!--
  Generated template for the ConfigurationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title class="color-blue">
      <div class="cnt-title">
        <img src="assets/img/icono-p22-82.png" alt="" class="img-header"><span>Configuraciones</span>
      </div>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>

<ion-content>
  <ion-list  class="list-menu">
    <!--<ion-item>
      <ion-avatar item-start>
        <img src="assets/img/icono-p21-80.png">
      </ion-avatar>
      <ion-label text-capitalize class="color-blue">Notificaciones push</ion-label>
      <ion-toggle checked="true"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-avatar item-start>
        <img src="assets/img/icono-p22-80.png">
      </ion-avatar>
      <ion-label text-capitalize class="color-blue">Notificación email</ion-label>
      <ion-toggle checked="true"></ion-toggle>
    </ion-item>-->

    <button ion-item icon-end (click)="goToPage()">
      <ion-avatar item-start>
        <img src="assets/img/icono-p22-81.png">
      </ion-avatar>
      <h2 text-capitalize class="color-blue">Modificar Perfil</h2>
    </button>
  </ion-list>
</ion-content>
<!-- <ion-footer class="ob-footer-citas">
  <ion-toolbar>
    <ion-grid>
      <div class="btnflex">
        <button clear ion-button class="ob-button-tabs" (click)="goToHome()">
          <div class="img"><img src="assets/img/icono-p3-80.png" class="ob-img-tabs"></div>
          <div class="ob-text-tabs color-blue">Inicio<br>&nbsp;</div>
        </button>
        <button clear ion-button class="ob-button-tabs" (click)="gotoQuotes()">
          <div class="img"><img src="assets/img/icono-p3-80.png" class="ob-img-tabs"></div>
          <div class="ob-text-tabs color-blue">Citas <br> Médicas</div>
        </button>
        <button clear ion-button class="ob-button-tabs" (click)="gotoQuotes()">
          <div class="img"><img src="assets/img/icono-p27-80.png" class="ob-img-tabs"></div>
          <div class="ob-text-tabs color-blue">Dispensario<br>Empresas</div>
        </button>
        <button clear ion-button class="ob-button-tabs" (click)="goToSpecialties()">
          <div class="img"><img src="assets/img/icono-p2-80.png" class="ob-img-tabs"></div>
          <div class="ob-text-tabs color-blue">Directorio <br> Médico</div>
        </button>
        <button clear ion-button class="ob-button-tabs" (click)="goToFavorite()">
          <div class="img"><img src="assets/img/icono-p1-80.png" class="ob-img-tabs"></div>
          <div class="ob-text-tabs color-blue">Mis Doctores <br> Favoritos</div>
        </button>
      </div>
    </ion-grid>
  </ion-toolbar>
</ion-footer> -->