page-centers {
    .scroll-content{
        overflow-y: scroll;
    }
    .grid-article-specialities{
        padding: 0;
    }
    .grid-article-specialities ion-col.col {
        padding: 0;
    }
    .grid-article-specialities .card.card-md{
        margin: 0;
        width: 100%;
    }
}
