<ion-header>
  <div class="logo">
      <img src="assets/img/logo-metrored-500-2.png" alt="" class="img-logo">
  </div>
  <ion-navbar class="navbar-home">
    <button ion-button menuToggle>
      <ion-icon name="menu" class="color-blue"></ion-icon>
    </button>
    <ion-title class="color-blue">
      <div class="cnt-title">
        <img src="assets/img/icono-p26-82.png" alt="" class="img-header"><span>Centros Médicos</span>
      </div>
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
    <ion-list class="grid-article-specialities">
      <button ion-item *ngFor="let center of centers" (click)="goToSpecialiteInfo(center)" text-capitalize>
        {{center?.ob_hm_nombre_ubicacion.toLowerCase()}}
      </button>
    </ion-list>
  <!-- <ion-grid class="grid-article-specialities">
    <ion-row>
      <ion-col col-12 *ngFor="let center of centers" (click)="goToArticle(center)" no-margin>
        <ion-card>
          <img src="assets/img/{{center.ob_hm_imagen}}"/>
            <ion-card-content class="backgroud-blue">
              <ion-card-title class="color-white" text-center>
                {{center.ob_hm_titulo}}
                </ion-card-title>
            </ion-card-content>
          </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid> -->
</ion-content>
<ion-footer class="ob-footer-citas">
  <ion-toolbar>
    <ion-grid>
      <div class="btnflex">
        <button clear ion-button class="ob-button-tabs" (click)="goToHome()">
          <div class="img"><img src="assets/img/icono-home-80.png" class="ob-img-tabs"></div>
          <div class="ob-text-tabs color-blue">Inicio<br>&nbsp;</div>
        </button>
        <button clear ion-button class="ob-button-tabs" (click)="gotoQuotes()">
          <div class="img"><img src="assets/img/icono-p3-80.png" class="ob-img-tabs"></div>
          <div class="ob-text-tabs color-blue">Citas <br> Médicas</div>
        </button>
        <button *ngIf="visibleDispensary" clear ion-button class="ob-button-tabs" (click)="gotoQuotesDispensary()">
          <div class="img"><img src="assets/img/icono-p27-80.png" class="ob-img-tabs"></div>
          <div class="ob-text-tabs color-blue">Dispensario<br>Empresas</div>
        </button>
        <button clear ion-button class="ob-button-tabs" (click)="goToSpecialite()">
          <div class="img"><img src="assets/img/icono-p2-80.png" class="ob-img-tabs"></div>
          <div class="ob-text-tabs color-blue">Directorio <br> Médico</div>
        </button>
        <button clear ion-button class="ob-button-tabs" (click)="goToFavorite()">
          <div class="img"><img src="assets/img/icono-p1-80.png" class="ob-img-tabs"></div>
          <div class="ob-text-tabs color-blue">Mis Doctores <br> Favoritos</div>
        </button>
      </div>
    </ion-grid>
  </ion-toolbar>
</ion-footer>