<ion-header>
  <ion-navbar class="navbar-home">
    <button ion-button menuToggle>
      <ion-icon name="menu" class="color-blue"></ion-icon>
    </button>
    <ion-title class="color-blue">
        <div class="cnt-title">
          <img src="assets/img/icono-p10-80.png" alt="" class="img-header"><span>Calendario</span>
        </div>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <h4 *ngIf="visibleTitle">{{title}}</h4>
    <ion-grid *ngIf="visibleContent">
        <ion-row>
            <ion-col col-12 class="ob-datetime">
              <button clear ion-button icon-right (click)="picker.open()" class="ob-button-doctor">
                Filtrar por fecha
                <ion-datetime #picker displayFormat="DDDD, DD MMMM YYYY" [(ngModel)]="date" class="datetime-text" doneText="Guardar" cancelText="Cerrar"
                               pickerFormat="DD MMMM YYYY" type="datetime-local">
                </ion-datetime>
              </button>
            </ion-col>
            <ion-col *ngFor="let key of keys | filterDate:'key':date" col-12>
               <button clear ion-button class="ob-button-center" *ngFor="let medico of medicos[key] " (click)="setDoctor(medico)">
                 <ion-grid class="ob-grid-medicos">
                    <ion-row>
                      <ion-col col-3>
                        <div class="ob-medico-settings">
                          <div class="container-info-quote">
                            <p class="color-blue">{{medico?.medico.HT.split('-')[2]}}</p>
                            <p class="color-gray">{{medico?.medico.HT.split('-')[1]}}</p>
                            <p class="color-blue">{{medico?.turno.FECHA_HORA.split(' ')[1].substring(0,5)}}</p>
                          </div>
                        </div>
                      </ion-col>
                      <ion-col col-8>
                        <div class="ob-detalles-medico">
                          <p>{{medico?.medico.NOMBRE_MEDICO}}</p>
                          <p class="color-purple">{{medico?.medico.FM}}</p>
                          <p>Duración: <span class="color-purple">{{validateDuracion(medico?.medico.DURACION_TURNO)}}</span></p>
                        </div>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
               </button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>